<!DOCTYPE HTML>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head th:include="fragments/header :: head (title='Grotto')">
</head>


<body>
<div th:replace="fragments/header :: header">&nbsp;</div>

<div class="container">
    <div class="row">
        <div class="col-md-8 starter-template">
            <h1>Terms and Conditions</h1>

            <ul>
                <li><a href="#cancellations">cancellations</a></li>
                <li><a href="#liability">liability</a></li>
                <li><a href="#complaints">complaints</a></li>
                <li><a href="www.google.com">complaints</a></li>
            </ul>

            <h2>Cancellations</h2>
            <a name="cancellations"></a>
            <p>You can cancel a booking up to 24h before the event time.</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nulla nibh, cursus sed turpis vitae,
                ultricies rhoncus ligula. Morbi vitae nulla vel ex vehicula elementum. Donec enim ipsum, porttitor quis
                diam in, condimentum tempus dolor. Integer a consequat odio. Proin auctor arcu vitae orci pellentesque
                posuere. Praesent in porta dolor. Nunc et egestas diam. In tincidunt malesuada ante sed vestibulum. Sed
                dapibus tincidunt sapien, id sodales leo vehicula nec. In hac habitasse platea dictumst. In hac
                habitasse platea dictumst.</p>

            <p>Donec cursus libero massa, eu auctor neque aliquet ac. Mauris non luctus metus. Proin sit amet efficitur
                purus. Suspendisse potenti. Fusce convallis quam id leo ornare, a maximus sem luctus. Vestibulum
                molestie nibh in lectus fringilla, eu tincidunt urna vehicula. Praesent quis nisi quis magna convallis
                commodo et eget magna. Mauris tincidunt lacus ligula, eu posuere lectus dignissim id.</p>

            <p>Maecenas consectetur mi quis purus tempor, vitae euismod massa porttitor. In hac habitasse platea
                dictumst. Cras at blandit ipsum, eget vulputate diam. Duis dapibus massa eget est efficitur, ut
                imperdiet diam posuere. Morbi hendrerit blandit nunc, a tincidunt turpis molestie quis. Suspendisse eu
                suscipit leo. Duis vulputate, quam nec malesuada tempus, ex turpis auctor arcu, ut consectetur urna
                libero id felis. Vivamus blandit eleifend lacus, at pulvinar neque tempor id. Aliquam rutrum nibh
                risus.</p>

            <h2>Liability</h2>
            <a name="liability"></a>
            <p>Parents need to stay with their children at all times. Santa is a really nice guy, though.</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nulla nibh, cursus sed turpis vitae,
                ultricies rhoncus ligula. Morbi vitae nulla vel ex vehicula elementum. Donec enim ipsum, porttitor quis
                diam in, condimentum tempus dolor. Integer a consequat odio. Proin auctor arcu vitae orci pellentesque
                posuere. Praesent in porta dolor. Nunc et egestas diam. In tincidunt malesuada ante sed vestibulum. Sed
                dapibus tincidunt sapien, id sodales leo vehicula nec. In hac habitasse platea dictumst. In hac
                habitasse platea dictumst.</p>

            <p>Donec cursus libero massa, eu auctor neque aliquet ac. Mauris non luctus metus. Proin sit amet efficitur
                purus. Suspendisse potenti. Fusce convallis quam id leo ornare, a maximus sem luctus. Vestibulum
                molestie nibh in lectus fringilla, eu tincidunt urna vehicula. Praesent quis nisi quis magna convallis
                commodo et eget magna. Mauris tincidunt lacus ligula, eu posuere lectus dignissim id.</p>

            <p>Maecenas consectetur mi quis purus tempor, vitae euismod massa porttitor. In hac habitasse platea
                dictumst. Cras at blandit ipsum, eget vulputate diam. Duis dapibus massa eget est efficitur, ut
                imperdiet diam posuere. Morbi hendrerit blandit nunc, a tincidunt turpis molestie quis. Suspendisse eu
                suscipit leo. Duis vulputate, quam nec malesuada tempus, ex turpis auctor arcu, ut consectetur urna
                libero id felis. Vivamus blandit eleifend lacus, at pulvinar neque tempor id. Aliquam rutrum nibh
                risus.</p>

            <h2>Complaints</h2>
            <a name="complaints"></a>
            <p>Please contact us on the phone or speak to the colleagues at the entrance.</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nulla nibh, cursus sed turpis vitae,
                ultricies rhoncus ligula. Morbi vitae nulla vel ex vehicula elementum. Donec enim ipsum, porttitor quis
                diam in, condimentum tempus dolor. Integer a consequat odio. Proin auctor arcu vitae orci pellentesque
                posuere. Praesent in porta dolor. Nunc et egestas diam. In tincidunt malesuada ante sed vestibulum. Sed
                dapibus tincidunt sapien, id sodales leo vehicula nec. In hac habitasse platea dictumst. In hac
                habitasse platea dictumst.</p>

            <p>Donec cursus libero massa, eu auctor neque aliquet ac. Mauris non luctus metus. Proin sit amet efficitur
                purus. Suspendisse potenti. Fusce convallis quam id leo ornare, a maximus sem luctus. Vestibulum
                molestie nibh in lectus fringilla, eu tincidunt urna vehicula. Praesent quis nisi quis magna convallis
                commodo et eget magna. Mauris tincidunt lacus ligula, eu posuere lectus dignissim id.</p>

            <p>Maecenas consectetur mi quis purus tempor, vitae euismod massa porttitor. In hac habitasse platea
                dictumst. Cras at blandit ipsum, eget vulputate diam. Duis dapibus massa eget est efficitur, ut
                imperdiet diam posuere. Morbi hendrerit blandit nunc, a tincidunt turpis molestie quis. Suspendisse eu
                suscipit leo. Duis vulputate, quam nec malesuada tempus, ex turpis auctor arcu, ut consectetur urna
                libero id felis. Vivamus blandit eleifend lacus, at pulvinar neque tempor id. Aliquam rutrum nibh
                risus.</p>

        </div>
    </div>
</div>


<div th:replace="fragments/footer :: footer">...</div>
</body>
</html>